.game {
  margin-top: 100px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(244, 234, 230, 0.6);
}
.question {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 600px;
}
.question-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 35%;
}

.question img {
  width: calc(400px + 2rem);
  max-width: 100%;
  height: auto;
  align-self: center;
  margin-top: 1rem;
}

.prev-button, .next-button {
  position: absolute;
  top: 95%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
}
.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

input[type="radio"] {
  margin-right: 10px; 
}

h1 {
  color: #4297A0;
}