.welcome {
  text-align: center;
  margin-top: 100px;
}

.save-collection {
  display: flex;
}

.member-artcard {
  width: 300px;
  object-fit: cover;
  margin-left: 1rem;
  background-color: rgba(244, 234, 230, 0.6);
}

.member-artcard img {
  height: 300px;
}

.welcome-customize a {
  text-decoration: none;
  color: #E57F84;
}