.welcome {
  text-align: center;
  margin: 90px 1rem 1rem 1rem;
  font-size: 1.2rem;
  color: #2E765E;
}

.save-collection {
  display: flex;
}

.member-artcard {
  width: 300px;
  object-fit: cover;
  margin-left: 1rem;
  background-color: rgba(250, 250, 250, 0.7);
}

.member-artcard img {
  height: 300px;
}

.welcome a {
  color: #E57F84;
  text-decoration: none;
}

.welcome a:hover {
  text-decoration: underline;
}