h2, h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.save-collection {
  display: flex;
}

.member-artcard {
  width: 300px;
  object-fit: cover;
  margin-left: 1rem;
}

.member-artcard img {
  height: 300px;
}