.signup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  transform: translateY(-100%); 
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(0);
  }
}
