.about-page {
  position: relative;
  max-height: 100%;
}
.about {
  display:flex;
  justify-content: center;
  align-items: center;
}
.about-tab {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

.about-title {
  padding-top: 5.5rem;
  color: #E57F84;
  text-align: center;
  padding-bottom: 1rem;
}


.about-img {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .about-page {
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .about-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about-img {
    padding: 0;
  }
  .about {
    justify-content: center;
    align-items: flex-start;
  }
}