.navbar {
  display: grid;
  grid-column: 1 / span 2;
  position: relative;
  z-index: 2;
}
.navbar-ul {
  list-style: none;
  display: none;
}
.navbar-li {
  padding: 0 15px;
}
.navbar-text {
  margin: 20px;
}
.navbar-li:hover {
  cursor: pointer;
}
.hamburger {
  display: block;
  cursor: pointer;
  margin: 10px;
  position: absolute;
  right: 0;
  padding: 5px;
}
.bar {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 3px 0;
}
/* Response nav bar */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
  .navbar-ul {
    display: flex;
    padding-right: 2.5rem;
    position: absolute;
    right: 0;
  }
}