.demo {
  text-align: center;
  margin-top: 0.5rem;
  position: absolute;
  top: 90px;
  left: 10px;
  background-color: #E57F84;
  color: #ffffff;
  padding: 0.2rem;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}