.carousel {
  width: 100%; 
}
.carousel.inner {
  display: flex; 
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel .carousel-item {
  flex-shrink: 0; 
  width: 100%; 
}

.carousel .carousel-img {
  width: 100%; 
  height: 600px; 
  display: block; 
}
.button-left, .button-right {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.button-left {
  left: 20px;
}

.button-right {
  right: 20px;
}

/* Responsive Carousel */
@media (min-width: 760px) {
  .inner {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .button-left {
    left: 50px;
  }
  
  .button-right {
    right: 50px;
  }
}
@media (min-width: 920px) {
  .inner {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .button-left {
    left: 70px;
  }
  
  .button-right {
    right: 70px;
  }
}

@media (min-width: 1200px) {
  .inner {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .button-left {
    left: 110px;
  }
  
  .button-right {
    right: 110px;
  }
}

@media (min-width: 1400px) {
  .inner {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .button-left {
    left: 140px;
  }
  
  .button-right {
    right: 140px;
  }
}