.search-box {
  margin: 1rem 3rem 1rem 3rem;
  display: flex;

}
.search {
  grid-column: 1 / span 2;
  padding: 0.75rem 1rem;
  border-radius: 30px;
  border: 2px solid #638C80;
  width: 100%;
  font-size: 0.75rem;
}

.clear-search {
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0 15px;
  border: 1px solid #ddd;
  color: red;
}
