.search-box {
  position: relative;
  width: 80%;
}
.search {
  padding: 1rem;
  padding-left: 2.5rem;
  border-radius: 30px;
  border: 2px solid #ddd;
  width: 100%;
}


.spotlight-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: grey;
}
