.sort-filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
}

.artwork-page {
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
} 

.pagination {
  padding-bottom: 3.5rem;
}