.art-card {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff; 
  margin-bottom: 10px;
  padding-left: 10px;
}

.art-card img {
  width: 100%;
  height: auto;
}

.art-card img:hover {
  scale:calc(0.9);
  cursor: pointer;
}

p {
  color:black;
  text-align: left;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.heart-icon {
  color: green;
  font-size: 1.5rem;
}

.heart-icon:hover {
  color: red;
}

.heart-icon-red {
  color: red;
  font-size: 1.5rem;
  cursor: pointer
}