.art-card {
  display: inline-block;
  width: 100%;
  height:fit-content;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff; 
  margin-bottom: 10px;
  padding-left: 10px;
}

.art-card img {
  transition: all 0.3s;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 10px;
  margin-bottom: 10px;
}

.art-card img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

h4 {
  color:black;
  text-align: left;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.heart-icon {
  color: green;
  font-size: 1.5rem;
}

.heart-icon:hover {
  color: red;
}

.heart-icon-red {
  color: red;
  font-size: 1.5rem;
  cursor: pointer
}