.art-card {
  display: inline-block;
  width: 100%;
  height:fit-content;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff; 
  padding: 15px;
  margin: 0 10px 10px 10px;
  background-color: rgba(250, 250, 250, 0.8);
}

.art-card img {
  transition: all 0.3s;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 10px;
  margin-bottom: 10px;
}

.art-card img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

h4 {
  color:black;
  text-align: left;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.heart-icon {
  color: #4297A0;
  font-size: 1.7rem;
}

.heart-icon:hover {
  color: #E57F84;
}

.heart-icon-red {
  color: #E57F84;
  font-size: 1.7rem;
  cursor: pointer
}