.App {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  font-family: fantasy;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.carousel {
  width: 100vw; 
  height: 100vh; 
  grid-column: 1 / span 2;
  background-image: url('https://www.artic.edu/iiif/2/896b2529-fd62-2a2c-80d9-3702d916f90a/full/843,/0/default.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  position: relative;
}

.welcome-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: #f7f4f4; */
  color: #ffffff;
  padding: 30px;
}
.welcome-button {
  border: 3px solid #ddd;
  padding: 10px;
  background: none;
  color: #ffffff;
  border-radius: 15px;
  font-family: fantasy;
  margin-top: 2.5rem;
}
.welcome-button:hover {
  cursor: pointer;
}
.navbar {
  grid-column: 1 / span 2;
  padding: 10px;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.search-box {
  position: relative;
  width: 80%;
}
.search {
  padding: 1rem;
  padding-left: 2.5rem;
  border-radius: 30px;
  border: 2px solid #ddd;
  width: 100%;
}
.spotlight-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: grey;
}
.navbar img {
  width: auto;
  height: 60px;
  padding-left: 5px;
}
.navbar-text {
  margin: 20px;
}
.aside {
  display: none;
  background-color: #efe4e4;
  padding: 20px;
}

.main {
  padding: 20px;
}
.art-grid {
  column-count: 1;
  column-gap: 10px;
}

.art-card {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.art-card img {
  width: 100%;
  height: auto;
}

.footer {
  grid-column: 1 / span 2;
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

/* Responsive layout */
@media (min-width: 760px) {
  .art-grid {
    column-count: 2;
  }
}
@media (min-width: 920px) {
  .App {
    grid-template-columns: 1fr 4fr;
  }
  .aside {
    display: block;
  }
  .art-grid {
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .App {
    grid-template-columns: 1fr 5fr;
  }
  .art-grid {
    column-count: 3;
  }
}
@media (min-width: 1400px) {
  .App {
    grid-template-columns: 1fr 6fr;
  }
}