.sort-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #ffffff;
  align-items: center;
}

button {
  padding: 15px;
  margin: 0.5rem;
  border: none;
}

.active {
  background-color: rgb(207, 196, 126);
  color: #ffffff;
}