.home-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.welcome-text {
  color: #4297A0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 30vh;
  background-color: rgba(244, 234, 230, 0.7);
}


@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInScale {
  animation: fadeInScale 1s forwards;
  font-size: 3rem;
  margin-top: 2rem;
}

.svg {
  height: 100px;
}

.typingWelcome, .typingWelcome svg {
  margin: 0;
  padding: 0;
}


/* @media (max-width: 660px) {
  .svg {
      width: 150px; 
      height: 200px;
  }
}

@media (max-width: 330px) {
  .svg {
      width: 50px;
      height: 150px;
  }
} */