.home-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  background-image: url('https://images.unsplash.com/photo-1512540452972-baac55d40ef1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2188&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.welcome-text {
  margin-top: 5rem;
  color: #B5E5CF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  width: 100vw;
  height: 100vh;
}


@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInScale {
  animation: fadeInScale 1s forwards;
  font-size: 3rem;
  color: #E57F84;
}

.svg {
  height: 100px;
}

.typingWelcome {
  color: #3D5B59;
}

.typingWelcome {
  margin: 0;
  padding: 0;
}


@media (max-width: 768px) {
  .home-page {
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  .welcome-text h1 {
    font-size: 2rem;
  }
} 