.accordion {
  padding: 20px;
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

/* Responsive layout */
@media (min-width: 920px) {
  .accordion{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
