.accordion {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 1rem;
}

/* Responsive layout */
@media (min-width: 920px) {
  .accordion{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
